.meses {
    text-transform: uppercase;
    color: #6e6e6e;
    font-size: 12px;
    padding: 0px;
    border-radius: 5px;
    font-size: 12px;
    color: #5d5d5d;
    line-height: 100%;
    height: auto;
    background-color: transparent;
}

.meses a {
    color: #a0a09f;
    background-color: #f5f5f5;
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
    color: #a0a09f;
    background-color: #f5f5f5;
    margin: 0 5px 5px 0;
    border-radius: 5px;
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
}

.meses .actual {
    color: #ffffff;
    background-color: #000;
}

.lista{
    border-color: #f1f1f1;
    border-right: 1px solid #e5e5e5;
    border-right-color: rgb(229, 229, 229);
    border-top: 1px solid #e5e5e5;
    border-top-color: rgb(229, 229, 229);
    border-radius: 5px;
    overflow: hidden;
    background-color: #000;
}

.lista h2{
    color: #fff;
    text-align: center;
}
.lista_evento{
    background-color: #fff;
    display: flex;
    gap: 1rem;
    padding-left: 1rem;
    margin-left: 0;
    margin-bottom: 0;
    overflow: hidden;
    list-style-type: none;
    margin-left: .5rem;
    transition-property: margin-left;
    transition-duration: 800ms;
}
.lista_evento:hover{
    margin-left: 1.5rem;
    cursor: pointer;
}

.fechas {
    display: flex;
    gap: 0.5rem;
}

.fechas .lista_fechaInicio{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 900;
}
.fechas .lista_fechaInicio > em:first-of-type{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 400;
}

.fechas .lista_fechaFinal{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 900;
}

.fechas .lista_fechaFinal > em:first-of-type{
    font-size: 2rem;
    font-weight: 400;
}

.titulo_horario{
    margin-left: 2rem;
}

.titulo_horario p {
    font-style: italic;
    text-transform: uppercase;
    color: #5d5d5d;
}

.lista_desplegable{
    display: none;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.lista_desplegable_visible{
    display: block;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.lista_desplegable > div{
    padding: 1rem;
    background-color: #fff;
    border-right: 1px solid #e5e5e5;
    border-right-color: rgb(229, 229, 229);
    border-top: 1px solid #e5e5e5;
    border-top-color: rgb(229, 229, 229);
    border-bottom: 1px solid #e5e5e5;
    border-bottom-color: rgb(229, 229, 229);
    border-radius: 5px;
    
    overflow: hidden;
}
.lista_desplegable a {
    text-decoration: none;
    color: #5d5d5d;
}
.lista_desplegable a:hover {
    text-decoration: none;
    color: #000;
}

.lista_desplegable_dos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}

.lista_desplegable_dos_links{
    padding: 2rem;
}

.lista_desplegable h3 {
    color: #5d5d5d;
    font-size: 2rem;
    text-transform: uppercase;
}


.lista_desplegable p {
    font-size: 1.6rem;
    text-align: justify;
}