.centrar{
    text-transform: uppercase;
    color: #222;
    border-bottom: 5px solid #000;
    margin-right: 10rem;
}

@media (min-width: 600px) {
    .centrar {
        margin-right: 30rem;
    }
}


@media (min-width: 900px) {
    .centrar {
        margin-right: 80rem;
    }
}

.centrar_boton{
    display: flex;
    justify-content: center;
}

.trabajos{
    border-top: 0.2rem solid #000;
}

.trabajos button {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
    border: none;
}